
body {
    font-family: Arial, sans-serif;
    background-image: url('Images/background_image_home.jpeg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}


.navbar {
    background-color: #f8f9fa;
}


.container {
    max-width: 600px; 
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 8px;
}

h2 {
    color: #fff;
}


.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}


#todoList {
    margin-top: 30px;
    color: white;
}

.one{
    color: white;
}


.wide-container {
    max-width: 1200px;  
    margin-top: 50px;
}

